@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto|Ubuntu&display=swap');


body, html{
    padding: 0%;
    margin: 0%;
    min-height: 100vh; 
    font-family: 'Lato';
    scroll-behavior: smooth;

}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important; 
}
.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto';
}
.nav-link:hover{
    color: darkorange !important;
}
.active .nav-link{
    color: darkorange !important;
}
.menu-right-btn{
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;

}
.menu-right-btn:hover{
    color: white;
    background-color: darkorange;
}
.site-content{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/F.jpg');
    background-attachment: fixed;
    background-size: cover;

}
.site-title, .site-desc{
    color: #fff;
    font-family: 'Righteous';

}
.site-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}
.site-desc{
    font-size: 14px;
    padding-left: 15%;

}
.site-btn1{
    margin-left: 40%;
    background-color: darkorange;
    color: white;
}
.main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Ubuntu';
}
.para1{
    padding: 5vw;
}   
.para1 h1{
    margin: 0;
    padding: 0;
    font-size:6vw;
}